<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
  <div class="details-container">
    <h3 class="text-center text-muted my-5">{{ title }} Hero</h3>
    <mat-card class="details-card mat-elevation-z8">
      <hr />
      <mat-card-content *ngIf="mode === 'update'">
        <mat-form-field>
          <mat-label>#</mat-label>
          <input matInput formControlName="id" />
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="form.controls['name']?.hasError('required')">
            Campo obrigatório
          </mat-error>
          <mat-error *ngIf="form.controls['name']?.hasError('minlength')">
            Insira ao menos 3 caracteres
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions class="d-flex justify-content-between">
        <button mat-raised-button color="secondary" (click)="backToHeroList()">
          VOLTAR
        </button>
        <button
          *ngIf="mode === 'update'"
          mat-raised-button
          color="primary"
          [disabled]="this.form.invalid"
        >
          SALVAR
        </button>
        <button
          *ngIf="mode === 'create'"
          mat-raised-button
          color="primary"
          [disabled]="this.form.invalid"
        >
          SALVAR
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
