.heroes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-table {
  margin: 30px auto !important;
}

.message-card {
  height: min-content;
  width: 700px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
}
