<div class="message-container">
  <h2>Messages</h2>
  <hr />
  <p class="text-danger" *ngIf="!getMessages().length">
    There're no messages to show
  </p>
  <div *ngIf="getMessages().length">
    <mat-card style="width: fit-content">
      <div class="mx-1" *ngFor="let message of getMessages()">
        {{ message }}
      </div>
      <button
        class="my-4"
        mat-raised-button
        color="primary"
        (click)="clearMessages()"
      >
        Clear Messages
      </button>
    </mat-card>
  </div>
</div>
