<mat-toolbar
  color="primary"
  class="d-flex justify-content-between"
  *ngIf="authService.isLoggedIn$ | async"
>
  <a routerLink="/">
    {{ title | uppercase }}
  </a>
  <div class="d-flex">
    <div class="mx-2">
      <button mat-icon-button routerLink="/dashboard" matTooltip="Dashboard">
        <mat-icon>grid_view</mat-icon>
      </button>
      <button
        mat-icon-button
        routerLink="/login"
        matTooltip="Sair"
        (click)="logoutAttempt()"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
