div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h6 {
  color: #f1f1f1;
  font-weight: 400;
}

mat-icon {
  width: unset;
  height: unset;
  font-size: 60px;
  margin-bottom: 10px;
  color: rgb(187, 76, 48);
}
