/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
  background: #f3f3f3;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snack-error {
  color: #fff;
  background: #ca6200;
}

.snack-success {
  color: #fff;
  background: #1d8f69;
}

div > mat-dialog-container {
  border-radius: 10px !important;
  background: linear-gradient(45deg, #2c2c2c, transparent) !important;
}

td.mat-cell {
  text-align: center;
  vertical-align: middle;
  width: 100vw;
}
